@import "../node_modules/element-plus/dist/index.css";
@import "../node_modules/element-plus/theme-chalk/dark/css-vars.css";

/* 对话框高度问题 */
.el-dialog.fit-height {
    display: flex;
    flex-direction: column;
}

.el-dialog.fit-height > .el-dialog__body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.dialog-preview {
    flex-grow: 1;
}

h1 {
    margin-bottom: 100px;
}